<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>淘宝</key>
		<string>i00</string>
	</dict>
	<dict>
		<key>生活缴费</key>
		<string>i01</string>
	</dict>
	<dict>
		<key>教育缴费</key>
		<string>i02</string>
	</dict>
	<dict>
		<key>红包</key>
		<string>i03</string>
	</dict>
	<dict>
		<key>物流</key>
		<string>i04</string>
	</dict>
	<dict>
		<key>信用卡</key>
		<string>i05</string>
	</dict>
	<dict>
		<key>转账</key>
		<string>i06</string>
	</dict>
	<dict>
		<key>爱心</key>
		<string>i07</string>
	</dict>
	<dict>
		<key>彩票</key>
		<string>i08</string>
	</dict>
	<dict>
		<key>当面付</key>
		<string>i09</string>
	</dict>
	<dict>
		<key>余额宝</key>
		<string>i10</string>
	</dict>
	<dict>
		<key>AA付款</key>
		<string>i11</string>
	</dict>
	<dict>
		<key>国际汇款</key>
		<string>i12</string>
	</dict>
	<dict>
		<key>淘点点</key>
		<string>i13</string>
	</dict>
	<dict>
		<key>淘宝电影</key>
		<string>i14</string>
	</dict>
	<dict>
		<key>亲密付</key>
		<string>i15</string>
	</dict>
	<dict>
		<key>股市行情</key>
		<string>i16</string>
	</dict>
	<dict>
		<key>汇率换算</key>
		<string>i17</string>
	</dict>
</array>
</plist>
